#Se requiere cambiar los directorio por los que se usarán en el proyecto
# /home/angsiserver/dash_project
# Se requiere cambiar el nombre del usuario por el que se creo para el proyecto

[Unit]
Description=Gunicorn instance to serve app Flask app
After=network.target

[Service]
User=angsiserver
Group=www-data
WorkingDirectory=/home/angsiserver/dash_project
Environment="PATH=/home/angsiserver/dash_project/venv/bin"
ExecStart=/home/angsiserver/dash_project/venv/bin/gunicorn --workers 3 --bind unix:project.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
